* {
  font-family: "Karla", sans-serif;
}
body {
  background-image: linear-gradient(
    to right,
    #55f991,
    #273549,
    #4adf86,
    #1f2937,
    #4adf86
  );
  width: 100%;
  height: 100%;
  margin: 0;
}
.container {
  background-color: #1f2937;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  height: 400px;
  padding: 0 35px;
  display: block;
  margin: 80px auto auto auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}
.container {
  padding-top: 90px;
}

h1 {
  color: white;
  margin-bottom: -10px;
}
h1 > em {
  font-style: normal;
  color: #4adf86;
}
p {
  color: #d5d4d8;
}
.input > input {
  background: #273549;
  border: none;
  color: #55f991;
  cursor: default;
  width: 211px;
  height: 39px;
  border-radius: 6px;
  text-align: center;
  font-size: 16px;
}
.input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 40px;
  margin-top: -10px;
}
img {
  width: 20px;
  margin: 0;
  display: block;
  margin-bottom: -40px;
}
hr {
  border: 1px solid #2f3e53;
}
input:focus {
  outline: none;
  border: none;
}
#btn {
  background-color: #55f991;
  border: none;
  padding: 9px 17px 9px 15px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 20px;
}
#copy-btn-1 {
  background-color: #ffffff00;
  border: none;
  margin-bottom: -30px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-align: left;
}
#copy-btn-2 {
  background-color: #ffffff00;
  border: none;
  margin-bottom: -30px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-align: left;
}
